@media screen and (max-width:768px){
    .left-top li a span{
        display: none;
    }
    .f-left {
        margin-right: 50% !important;
    }
    #about .row{
        margin:0 !important;
    }
    #footer .footer-row{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width:100%;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .support ul{
        text-align: left !important;
    }

    .fact-first{
        text-align: center !important;
    }
    .logo{
        text-align: center !important;
    }
   .footer-bottom{
       text-align: center !important;
   }
   .footer-bottom .copy-right{
       padding-bottom: 0 !important;
   }
    .footer-bottom .design{
       padding: 0 !important;
   }
   .footer-bottom .social-icon{
       justify-content: center !important;
   }
}