@media screen and (max-width:768px){
    .left-top li a span{
        display: none;
    }
    .f-left {
        margin-right: 50% !important;
    }
    #about .row{
        margin:0 !important;
    }
    #footer .first-row{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width:60%;
        margin: 0 auto !important;
    }
    .fact-first{
        text-align: center !important;
    }
    .logo{
        text-align: center !important;
    }
    .footer-link{
       
        margin-top:20px !important;
    }
  .support{
      margin-top:20px !important;
  }
  .album{
      margin-top:20px !important;
  }
}